Repository rancher/docs, pull requests merged in 2019-11, with the labels that each got.

#1883 Document search filter for AD user schema and group schema
  content/rancher/v2.x/en/admin-settings/authentication/ad/_index.md
Labels: [zube]: In Review

#1921 Add note about different cluster.yml format in a few more places
  content/rancher/v2.x/en/cluster-admin/cloning-clusters/_index.md
  content/rancher/v2.x/en/cluster-provisioning/hosted-kubernetes-clusters/cce/_index.md
  content/rancher/v2.x/en/security/hardening-2.3/_index.md
Labels: [zube]: In Review

#1939 Document enabling forward host headers for NGINX 0.25.0
  content/rancher/v2.x/en/installation/ha/helm-rancher/chart-options/_index.md
Labels: [zube]: In Review

#1943 Say that Istio UI feature flag is enabled by default in v2.3.2
  content/rancher/v2.x/en/admin-settings/feature-flags/_index.md
  content/rancher/v2.x/en/admin-settings/feature-flags/istio-virtual-service-ui/_index.md
Labels: [zube]: In Review

#1956 Fix capitalization error
  content/rancher/v2.x/en/admin-settings/_index.md
Labels: [zube]: In Review

#1961 improve shell command
  content/k3s/latest/en/installation/ha/_index.md
Labels: K3s

#1963 Add helm CRD section
  content/k3s/latest/en/configuration/_index.md
Labels: K3s

#1917 Add explicit reference to Traefik configuration
  content/k3s/latest/en/configuration/_index.md
Labels: K3s

#1920 Reorganize node requirements
  content/rancher/v2.x/en/cluster-provisioning/node-requirements/_index.md
  content/rancher/v2.x/en/cluster-provisioning/production/_index.md
  content/rancher/v2.x/en/cluster-provisioning/production/nodes-and-roles/_index.md
  content/rancher/v2.x/en/cluster-provisioning/production/recommended-architecture/_index.md
  content/rancher/v2.x/en/cluster-provisioning/rke-clusters/node-pools/ec2/_index.md
  content/rancher/v2.x/en/faq/networking/cni-providers/_index.md
  content/rancher/v2.x/en/installation/_index.md
  content/rancher/v2.x/en/installation/ha/rke-add-on/troubleshooting/generic-troubleshooting/_index.md
  content/rancher/v2.x/en/installation/references/_index.md
  content/rancher/v2.x/en/installation/requirements/_index.md
  content/rancher/v2.x/en/quick-start-guide/deployment/quickstart-manual-setup/_index.md
  content/rancher/v2.x/en/troubleshooting/networking/_index.md
  content/rke/latest/en/os/_index.md
  layouts/shortcodes/requirements_ports_rancher.html
Labels: [zube]: In Review

#1978 Improve ha install guide
  content/k3s/latest/en/installation/ha/_index.md
  static/img/k3s/k3s-production-setup-v4.svg
Labels: K3s

#1984 Storage
  content/k3s/latest/en/advanced/_index.md
  content/k3s/latest/en/configuration/_index.md
  content/k3s/latest/en/faq/_index.md
  content/k3s/latest/en/installation/_index.md
  content/k3s/latest/en/known-issues/_index.md
  content/k3s/latest/en/quick-start/_index.md
  content/k3s/latest/en/storage/_index.md
Labels: K3s

#1985 Improve k3s navigation / move content around
  content/k3s/latest/en/advanced/_index.md
  content/k3s/latest/en/building/_index.md
  content/k3s/latest/en/configuration/_index.md
  content/k3s/latest/en/faq/_index.md
  content/k3s/latest/en/installation/_index.md
  content/k3s/latest/en/installation/airgap/_index.md
  content/k3s/latest/en/installation/ha/_index.md
  content/k3s/latest/en/networking/_index.md
Labels: K3s

#1988 Move "Upgrades" from Installation Options section to a new Upgrades section
  content/k3s/latest/en/installation/_index.md
  content/k3s/latest/en/upgrades/_index.md
Labels: K3s

#1990 Miscellaneous content tweaks for k3s#1031
  content/k3s/latest/en/advanced/_index.md
  content/k3s/latest/en/installation/_index.md
  content/k3s/latest/en/installation/ha/_index.md
  content/k3s/latest/en/installation/node-requirements/_index.md
  content/k3s/latest/en/installation/single-server/_index.md
  content/k3s/latest/en/quick-start/_index.md
  static/img/k3s/k3s-production-setup-v4.svg
  static/img/k3s/k3s-production-setup-v5.svg
Labels: K3s

#1884 Add rke documentaion for secrets encryption
  content/rke/latest/en/config-options/secrets-encryption/_index.md
  content/rke/latest/en/config-options/services/_index.md
Labels: [zube]: In Review, staging

#1995 Move metrics-server mention in configuration page to page for prior to v1.0.0
  content/k3s/latest/en/configuration/_index.md
  content/k3s/latest/en/configuration/older-configuration/_index.md
Labels: K3s

#1996 v1.0.0 tweaks to HA install page and update cli flags
  content/k3s/latest/en/installation/_index.md
  content/k3s/latest/en/installation/ha/_index.md
  content/k3s/latest/en/installation/older-installations/_index.md
  content/k3s/latest/en/installation/single-server/_index.md
Labels: K3s

#2002 Tweaks to Traefik on Networking page
  content/k3s/latest/en/installation/ha/_index.md
  content/k3s/latest/en/networking/_index.md
Labels: K3s

#2007 Remove the "Prior v1.0.0" docs
  content/k3s/latest/en/configuration/_index.md
  content/k3s/latest/en/configuration/older-configuration/_index.md
  content/k3s/latest/en/installation/ha/_index.md
  content/k3s/latest/en/installation/older-installations/_index.md
Labels: K3s

#2009 Capitalize k3s and small fixes
  content/k3s/latest/en/_index.md
  content/k3s/latest/en/advanced/_index.md
  content/k3s/latest/en/configuration/_index.md
  content/k3s/latest/en/faq/_index.md
  content/k3s/latest/en/installation/_index.md
  content/k3s/latest/en/installation/node-requirements/_index.md
  content/k3s/latest/en/installation/single-server/_index.md
  content/k3s/latest/en/known-issues/_index.md
  content/k3s/latest/en/networking/_index.md
  content/k3s/latest/en/quick-start/_index.md
  content/k3s/latest/en/storage/_index.md
  content/k3s/latest/en/upgrades/_index.md
Labels: K3s

#2011 Change wording for node labels and taints
  content/k3s/latest/en/configuration/_index.md
Labels: K3s

#1999 Document service defaults/admission plugins location
  content/rke/latest/en/config-options/_index.md
  content/rke/latest/en/config-options/services/services-extras/_index.md
Labels: [zube]: In Review

#2012 Air-Gap Improvements
  content/k3s/latest/en/installation/airgap/_index.md
Labels: K3s

#2006 Fix error in vSphere docs
  content/rke/latest/en/config-options/cloud-providers/vsphere/_index.md
Labels: [zube]: In Review

#1991 Finish updating installation requirements for Rancher 2.3
  content/rancher/v2.x/en/installation/requirements/_index.md
Labels: [zube]: In Review

#2021 Update k3s v1.0.0 Node Registration information
  content/k3s/latest/en/configuration/_index.md
Labels: K3s

#2027 Document turning feature flags on/off from Rancher UI
  content/rancher/v2.x/en/admin-settings/feature-flags/_index.md
Labels: [zube]: In Review

#2024 Explain how to exclude workloads from Istio sidecar
  content/rancher/v2.x/en/cluster-admin/tools/istio/setup/enable-istio-in-namespace/_index.md
Labels: [zube]: In Review

#2019 Change note that says Rancher v2.1 is new
  content/rancher/v2.x/en/project-admin/tools/pipelines/_index.md
Labels: [zube]: In Review

#2017 Explain behavior of enable_cluster_alerting and enable_cluster_monitoring
  content/rancher/v2.x/en/admin-settings/rke-templates/example-yaml/_index.md
Labels: [zube]: In Review

#1964 Clarify ingress and load balancer docs
  content/rancher/v2.x/en/k8s-in-rancher/load-balancers-and-ingress/_index.md
  content/rancher/v2.x/en/k8s-in-rancher/load-balancers-and-ingress/load-balancers/_index.md
Labels: [zube]: In Review

#2020 Fix formatting issue on Windows page
  content/rancher/v2.x/en/cluster-provisioning/rke-clusters/windows-clusters/_index.md
Labels: [zube]: In Review

#2025 Clarification of where to run
  content/rke/latest/en/etcd-snapshots/restoring-from-backup/_index.md
Labels: RKE, [zube]: In Review

#2016 Revise and update vSphere docs for Rancher v2.3.3 changes
  content/rancher/v2.x/en/cluster-provisioning/rke-clusters/node-pools/_index.md
  content/rancher/v2.x/en/cluster-provisioning/rke-clusters/node-pools/vsphere/_index.md
  content/rancher/v2.x/en/cluster-provisioning/rke-clusters/node-pools/vsphere/provisioning-vsphere-clusters/_index.md
  content/rancher/v2.x/en/cluster-provisioning/rke-clusters/node-pools/vsphere/provisioning-vsphere-clusters/creating-credentials/_index.md
  content/rancher/v2.x/en/cluster-provisioning/rke-clusters/node-pools/vsphere/provisioning-vsphere-clusters/enabling-uuids/_index.md
  content/rancher/v2.x/en/cluster-provisioning/rke-clusters/node-pools/vsphere/provisioning-vsphere-clusters/node-template-reference/_index.md
  content/rke/latest/en/config-options/cloud-providers/vsphere/_index.md
  content/rke/latest/en/config-options/cloud-providers/vsphere/config-reference/_index.md
  content/rke/latest/en/config-options/cloud-providers/vsphere/enabling-uuid/_index.md
  content/rke/latest/en/config-options/cloud-providers/vsphere/troubleshooting/_index.md
Labels: [zube]: In Review
