Repository rancher/docs, pull requests merged in 2020-08, with the labels that each got.

#2598 Clarify minimum memory requirements
  content/k3s/latest/en/installation/installation-requirements/_index.md
Labels: K3s, Waiting for QA/verification, [zube]: In Review

#2638 First pass at updated helm/deploy docs
  content/k3s/latest/en/helm/_index.md
Labels: K3s

#2583 Traefik: Update to match current behavior for custom configs
  content/k3s/latest/en/networking/_index.md
Labels: K3s, [zube]: In Review
