Repository rancher/docs, pull requests merged in 2020-02, with the labels that each got.

#2241 Add host-gw backend for flannel
  content/k3s/latest/en/installation/network-options/_index.md
Labels: K3s

#2238 Expand section on removing clusters from Rancher
  content/rancher/v2.x/en/cluster-admin/_index.md
  content/rancher/v2.x/en/cluster-admin/cluster-access/ace/_index.md
  content/rancher/v2.x/en/cluster-admin/cluster-access/kubeconfig/_index.md
  content/rancher/v2.x/en/cluster-admin/cluster-access/kubectl/_index.md
  content/rancher/v2.x/en/cluster-provisioning/rke-clusters/_index.md
  content/rancher/v2.x/en/cluster-provisioning/rke-clusters/custom-nodes/_index.md
  content/rancher/v2.x/en/cluster-provisioning/rke-clusters/node-pools/azure/_index.md
  content/rancher/v2.x/en/cluster-provisioning/rke-clusters/node-pools/digital-ocean/_index.md
  content/rancher/v2.x/en/cluster-provisioning/rke-clusters/node-pools/ec2/_index.md
  content/rancher/v2.x/en/cluster-provisioning/rke-clusters/node-pools/vsphere/provisioning-vsphere-clusters/_index.md
  content/rancher/v2.x/en/cluster-provisioning/rke-clusters/windows-clusters/_index.md
  content/rancher/v2.x/en/faq/removing-rancher/_index.md
  content/rancher/v2.x/en/overview/architecture/_index.md
  content/rancher/v2.x/en/removing-rancher/_index.md
Labels: [zube]: Working

#2266 Dashboard Quick-Start
  content/k3s/latest/en/installation/kube-dashboard/_index.md
Labels: K3s

#2280 Dashboard version
  content/k3s/latest/en/installation/kube-dashboard/_index.md
Labels: K3s

#2145 Describe required permissions to deploy catalog apps
  content/rancher/v2.x/en/catalog/_index.md
  content/rancher/v2.x/en/catalog/apps/_index.md
  content/rancher/v2.x/en/catalog/multi-cluster-apps/_index.md
Labels: [zube]: In Review

#2142 Say how to avoid creating unusable namespaces with kubectl
  content/rancher/v2.x/en/cluster-admin/projects-and-namespaces/_index.md
  content/rancher/v2.x/en/project-admin/namespaces/_index.md
Labels: [zube]: In Review
