Repository rancher/docs, pull requests merged in 2021-11, with the labels that each got.

#3333 Use latest instead of tag in Automated Upgrades
  content/k3s/latest/en/upgrades/automated/_index.md
Labels: K3s, [zube]: K3S Inbox

#3514 k3s version v1.21.4+k3s1 (3e250fdb) go version go1.16.6 does not crea…
  content/k3s/latest/en/backup-restore/_index.md
Labels: [zube]: In Review, K3s

#3681 [K3s] Updated link to Github repo for klipper-lb
  content/k3s/latest/en/networking/_index.md
Labels: K3s

#3380 Update steps to add cluster
  content/rancher/v2.5/en/quick-start-guide/deployment/quickstart-manual-setup/_index.md
Labels: [zube]: In Review

#3673 Update k3s HA install to cover changes with the token
  content/k3s/latest/en/installation/ha/_index.md
Labels: K3s
