Repository rancher/docs, pull requests merged in 2022-05, with the labels that each got.

#4073 Update _index.md
  content/k3s/latest/en/installation/private-registry/_index.md
Labels: K3s

#4016 Add CIS Hardening Guide for 2.6x for RKE2 provisioned clusters
  content/rancher/v2.6/en/cis-scans/_index.md
  content/rancher/v2.6/en/security/hardening-guides/1.6-benchmark-2.6/Rancher_v2-6_CIS_v1-6_Benchmark_Assessment.pdf
  content/rancher/v2.6/en/security/hardening-guides/1.6-hardening-2.6/Rancher_v2-6_CIS_v1-6_Hardening_Guide.pdf
  content/rancher/v2.6/en/security/hardening-guides/_index.md
  content/rancher/v2.6/en/security/hardening-guides/rke-1.6-benchmark-2.6/Rancher_v2-6_CIS_v1-6_Benchmark_Assessment.pdf
  content/rancher/v2.6/en/security/hardening-guides/rke-1.6-benchmark-2.6/_index.md
  content/rancher/v2.6/en/security/hardening-guides/rke-1.6-hardening-2.6/Rancher_v2-6_CIS_v1-6_Hardening_Guide.pdf
  content/rancher/v2.6/en/security/hardening-guides/rke-1.6-hardening-2.6/_index.md
  content/rancher/v2.6/en/security/hardening-guides/rke2-1.6-benchmark-2.6/Rancher_RKE2_v2-6_CIS_v1-6_Benchmark_Assessment.pdf
  content/rancher/v2.6/en/security/hardening-guides/rke2-1.6-benchmark-2.6/_index.md
  content/rancher/v2.6/en/security/hardening-guides/rke2-1.6-hardening-2.6/Rancher_RKE2_v2-6_CIS_v1-6_Hardening_Guide.pdf
  content/rancher/v2.6/en/security/hardening-guides/rke2-1.6-hardening-2.6/_index.md
  scripts/converters/headers/header-2.6-rke2.md
  scripts/converters/headers/header-2.6.md
Labels: Security, staging, release notes

#4106 update windows feature parity list
  content/rancher/v2.6/en/cluster-provisioning/rke-clusters/windows-clusters/windows-parity/_index.md
Labels: Cluster provisioning, area/windows
