Repository rancher/docs, pull requests merged in 2022-01, with the labels that each got.

#2806 Fix order of extra_binds
  content/rke/latest/en/config-options/services/services-extras/_index.md
Labels: [zube]: In Review, RKE, Waiting for QA/verification, eng-review

#3102 aarnoldy-eks-service-role-vpc
  content/rancher/v2.5/en/cluster-provisioning/hosted-kubernetes-clusters/eks/permissions/_index.md
  content/rancher/v2.6/en/cluster-provisioning/hosted-kubernetes-clusters/eks/permissions/_index.md
Labels: [zube]: In Review, EKS

#3724 Documented version specific upgrade issues in K3s upgrade documentation
  content/k3s/latest/en/upgrades/_index.md
Labels: K3s

#3291 Updating example of "Customizing your Ingress"
  content/rancher/v2.0-v2.4/en/installation/install-rancher-on-k8s/chart-options/_index.md
  content/rancher/v2.5/en/installation/install-rancher-on-k8s/chart-options/_index.md
  content/rancher/v2.6/en/installation/install-rancher-on-k8s/chart-options/_index.md
Labels: [zube]: In Review, eng-review

#3762 Update _index.md
  content/rancher/v2.0-v2.4/en/installation/resources/advanced/helm2/helm-rancher/_index.md
  content/rancher/v2.5/en/installation/install-rancher-on-k8s/_index.md
  content/rancher/v2.6/en/installation/install-rancher-on-k8s/_index.md
Labels: [zube]: In Review
